
body{
    background-image: url('Imagenes/Fondo1.webp');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.Encabezado {
    position:sticky;
    top:0;
    z-index: 1000;
    background-image: url('Imagenes/Fondo1.webp');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
   
    
    
    
}

.Logo img{
    height: 200px;
    width: 310px;
    
    
    
    

}

.Menu button {
    background-color: #2976fb;
    color: white;
    padding: 10px 90px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid;
    cursor: pointer;
    transition: 0.1s;
  

}
.Menu button:hover {
    background-color: #0199ff;  
    color: white;

}



